/*                                   Navigation Bar                                             */
h1
{
    color: #00a1ab;
}

.btn-outline-light
{
  color : #58b4ae;
}

.btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:focus
{
  color : grey;
}

a:visited
{
  color: #58b4ae;
}

.NavHead
{
  display : inline-block;
  margin-left: 1%;
  position: absolute;
  top: 17%;
}

.navbarLeft
{
  margin-left: 10%;
}

.navbarRight
{
  margin-right: 10%;
}

/*                                 Main Search Area                                             */
body
{
  background-image:url("background_image.jpg");
  background-repeat:no-repeat;
   background-size: cover;
}

.MainHead
{
  position: absolute;
  left: 35%;
  top: 20%;
}

.MainSubHead
{
  font-family: 'Montserrat', sans-serif;
  /* color: #00a1ab; */
  color:gray; 
  font-weight:bold;
  position: absolute;
  top: 30%;
  left: 5%;
  margin-left:15%;
}
.restaurants{
	margin-left:20%;
}
.customer{
margin-left:15%;
}

label
{
  font-family: 'Montserrat', sans-serif;
  color: #00a1ab;
  font-size: 1.5rem;
  font-weight: bold;
}
